* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-bottom: 0;
}

.banner {
    position: relative;
    background-color: #fbc304;
    height: 90vh;
}

.yellow-bg {
    height: 15vh;
    background-color: #fbc304;
}

.logo {
    padding: 2rem;
    width: 100%;
}

.logo img {
    width: 20%;
}

.container {
    padding: 3rem;
}

.container-contact {
    padding: 2rem;
}

.title {
    font-size: 80px;
    font-weight: 800;
    color: black;
}

.sub-title {
    font-size: 60px;
    font-weight: 500;
    color: black;
}

.title-description {
    color: black;
    font-size: 20px;
}

.lets-talk {
    z-index: 1111;
    transform: rotate(-90deg)translateY(100%);
    position: fixed;
    top: 75%;
    left: -25px;
    color: white;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    cursor: pointer;
    transition: 300ms, transform 300ms;
}

.lets-talk:hover {
    text-decoration-thickness: 0;
    color: #f2f2f2;
}

.lets-talk::after {
    content: '';
    width: 0px;
    height: 5px;
    display: block;
    background: #fdfa07;
    transition: 300ms;
}

.lets-talk:hover::after {
    width: 100%;
}

.banner-line {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    /* Need a specific value to work */
}

.banner-line img {
    width: 150px;
}

.options {
    width: 80%;
    padding: 2rem 0;
    border-right: 1px solid white;
}

.can-do {
    position: relative;
    padding: 5rem 0 0 0;
    background-color: #0d73bc;
}

.can-do-subtitle {
    font-size: 14px;
    color: white;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 1px;
    margin: 25px 0;
}

.option {
    display: flex;
    color: white;
    cursor: pointer;
    padding: 0 0 30px 0;
}

.option:hover {
    color: #fdfa07;
    border-right: 2px solid #fdfa07;
}

.option:hover>svg {
    fill: #fdfa07;
}

.option svg {
    fill: white;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}

.option span {
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
}

.option-description {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: 600;
    padding: 2rem 0;
}

.option-description-title {
    color: #fdfa07;
    font-size: 28px;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.option-description-case-study {
    color: #fdfa07;
    font-size: 12px;
    font-weight: 600;
    margin: 15px 0;
}

.details {
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
}

.border-blue {
    background-color: #0d73bc;
    border: 15px solid #0d73bc;
}

.case-study {
    background-color: white;
    padding: 1rem;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.title-case-study {
    font-size: 60px;
    letter-spacing: 4px;
    color: #126ebf;
    font-weight: 700;
}

.case-study-sub-title {
    color: #126ebf;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 600;
}

.case-study-main {
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 50px;
}

.case-study-main img {
    width: 20%;
    margin-bottom: 20px;
}

.carousel-text {
    color: black;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 25px;
    width: 80%;
}

.carousel-icon-btn {
    text-align: end;
}

.carousel-item {
    width: 100%;
}

.carousel-item .carousel-img {
    width: 100%;
    transition: 1s ease-in-out;
}

.carousel-item .carousel-img:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}

.carousel-control-prev-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.contact-section-bg {
    background-color: white;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin: 0;
}

.title-contact {
    color: #126ebf;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
}

.logo-contact {
    margin: 2rem 0;
    width: 80%;
}

.logo-contact img {
    width: 50%;
    margin: 0 -19px;
}

.form-bg {
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 50px;
    margin-top: 21px;
}

.form {
    background-color: white;
    padding: 1rem;
    border-radius: 30px;
}

.contact-btn {
    background-color: #0d73bc;
    color: white;
    padding: 20px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}

.carousel-control {
    background: transparent;
    border: none;
}

.carousel-indicators-custom {
    position: relative;
}

.carousel-indicators-custom>span {
    position: absolute;
    top: -34px;
    left: 33px;
    display: none;
}

.carousel-indicators-custom>.active {
    display: block;
}

.contact {
    padding: 0 1rem;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer {
    padding: 0 6rem;
}

.footer-text {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (max-device-width: 1370px) {
    .logo {
        padding: 1rem;
    }
    .title-space {
        padding: 5rem 0;
    }
    .logo img {
        width: 20%;
    }
    .container {
        padding: 2rem;
    }
    .container-contact {
        padding: 2rem;
    }
    .title {
        font-size: 60px;
    }
    .sub-title {
        font-size: 40px;
    }
    .can-do-subtitle {
        margin-bottom: 25px 0;
    }
    .title-description {
        font-size: 12px;
    }
    .logo-contact {
        margin: 1rem 0;
        width: 80%;
    }
    .logo-contact img {
        width: 30%;
        margin: 0;
    }
    .can-do {
        padding: 3rem 0 0 0;
    }
    .form-bg {
        padding: 0.5rem;
        margin-top: 15px;
    }
    .form {
        padding: 1rem;
    }
    .title-space {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-device-width: 1050px) {
    .logo {
        padding: 2rem 1rem;
    }
    .title-space {
        padding: 2rem 0;
    }
    .logo img {
        width: 20%;
    }
    .container {
        padding: 0 1rem;
    }
    .container-contact {
        padding: 0 1rem;
    }
    .title {
        font-size: 50px;
    }
    .sub-title {
        font-size: 35px;
    }
    .title-contact,
    .title-case-study {
        font-size: 40px;
    }
    .title-description {
        font-size: 11px;
    }
    .logo-contact {
        margin: 1rem 0;
        width: 80%;
    }
    .logo-contact img {
        width: 30%;
        margin: 0;
    }
    .can-do {
        padding: 3rem 0 0 0;
    }
    .form-bg {
        padding: 0.5rem;
    }
    .form {
        padding: 1rem;
    }
    .footer {
        padding: 0 4rem;
    }
}

@media only screen and (max-device-width: 768px) {
    .logo {
        padding: 2rem 1rem;
    }
    .title-space {
        padding: 2rem 0;
    }
    .logo img {
        width: 20%;
    }
    .container {
        padding: 0 1rem;
    }
    .container-contact {
        padding: 0 1rem;
    }
    .title {
        font-size: 35px;
    }
    .sub-title {
        font-size: 20px;
    }
    .title-description {
        font-size: 10px;
    }
    .title-contact,
    .title-case-study {
        font-size: 40px;
    }
    .logo-contact {
        margin: 1rem 0;
        width: 80%;
    }
    .logo-contact img {
        width: 30%;
        margin: 0;
    }
    .can-do {
        padding: 3rem 0 0 0;
    }
    .form-bg {
        padding: 0.5rem;
    }
    .form {
        padding: 1rem;
    }
    .footer {
        padding: 0 3rem;
    }
}

@media only screen and (max-device-width: 450px) {
    .logo {
        padding: 2rem 1rem;
    }
    .logo img {
        width: 50%;
    }
    .container {
        padding: 0 1rem;
    }
    .container-contact {
        padding: 0 1rem;
    }
    .title {
        font-size: 30px;
    }
    .sub-title {
        font-size: 16px;
    }
    .title-description {
        font-size: 12px;
    }
    .title-contact,
    .title-case-study {
        font-size: 30px;
    }
    .logo-contact img {
        width: 50%;
        margin: 0;
    }
    .form-bg {
        padding: 0;
    }
    .form {
        padding: 0;
    }
    .options {
        width: 100%;
    }
    .contact-btn {
        padding: 15px;
    }
    .case-study-main {
        padding: 0 1rem;
    }
    .title-space {
        padding: 2rem 0;
    }
    .footer {
        padding: 0 2rem;
    }
    .footer-text {
        margin: 10px 0;
    }
}